@import "../../../sass/mixin";

.film-component {
    @include component-list;
}

.id {
    position: absolute;
    font-size: .75rem;
    top: 1rem;
    right: 1rem;
}

.title {
    font-weight: bold;
    text-transform: capitalize;
}