@import "../../../sass/mixin";

.search-filters-bar-component {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem;
    margin: 1rem 0 2rem 0;
    
    @include mobile-breakpoint {
        flex-direction: column;

        mat-form-field {
            width: 100%;
        }

        mat-paginator {
            display: none;
        }
    }

    &__multiple {
        display: flex;
        flex-direction: row;
        gap: .5rem;
        align-items: stretch;
        height: 100%;

        @include mobile-breakpoint {
            flex-direction: column;
        }

        &__input-ctr {
            display: flex;
            flex-direction: row;
            gap: .5rem;
        }

        button {
            height: 100%;
            padding: 0 2rem;
            
            @include mobile-breakpoint {
                padding: .75rem 2rem;
            }

            .mat-icon {
                font-size: 1.5rem;
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }
}