@import "../../../sass/mixin";

.customers-list-ctr {
    @include list-container;
}

.loading-spinner-ctr,
.no-customers-msg {
    flex: 1;
}

.no-customers-msg {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 5rem;
}