<app-sidebar-content>
    <!-- Filters Bar -->
    <app-filters-bar
        inputLabel="Search Customer"
        inputPlaceholder="Eg: John Doe"
        [(searchFilter)]="searchString"
        [currentPage]="currentPage" 
        [totalItems]="total" 
        [limit]="limit" 
        (onPageChangeEvent)="onPaginatorChangedHandler($event)"
        (onSearchEvent)="onSearchFilterClickedHandler()" />
    <!-- Customer List -->
    <div class="customers-list-ctr" *ngIf="!loading && customers.length > 0">
        <app-customer *ngFor="let customer of customers;index as i" [customer]="customer" />
    </div>
    <!-- No Customer -->
    <div class="no-customers-msg" *ngIf="!loading && customers.length == 0">
        There is no customers to show.
    </div>
    <!-- Loading Spinner -->
    <div class="loading-spinner-ctr" *ngIf="loading">
        <app-spinner></app-spinner>
    </div>

    <!-- Pagination -->
    <app-paginator 
        [currentPage]="currentPage" 
        [totalItems]="total" 
        [limit]="limit" 
        (onPageChangeEvent)="onPaginatorChangedHandler($event)" />
</app-sidebar-content>